/vendor/
/node_modules/
/.idea/
/.vscode/
/.phpunit.result.cache
/.php-cs-fixer.cache
/storage/logs/*
/storage/uploads/*
!/storage/uploads/.gitkeep
!/storage/uploads/fotoproducto/
/public/assets/*
!/public/assets/css/
/public/assets/css/*
!/public/assets/css/app.css
!/public/assets/js/
/public/assets/js/*
!/public/assets/js/app.js
/.env
